appdirs==1.4.4
autobahn==21.3.1
Automat==20.2.0
certifi==2021.5.30
click==8.0.1
constantly==15.1.0
DAWG-Python==0.7.2
docker-pycreds==0.2.1
docopt==0.6.2
fasteners==0.16
glfw==2.1.0
gym==0.19.0
hyperlink==21.0.0
incremental==21.3.0
Inject==4.3.1
intervaltree==3.1.0
ipymarkup==0.9.0
itsdangerous==1.1.0
jedi==0.18.0
kaptan==0.5.12
libtmux==0.10.1
loguru==0.5.3
mmcv==0.5.4
mmpycocotools @ git+https://github.com/open-mmlab/cocoapi.git@01f805cd54d7bd7af64c0fbd5fd96d8ca0b9ddc9#subdirectory=pycocotools
msgpack-python==0.5.6
mujoco-py==2.0.2.13
natasha==1.4.0
navec==0.10.0
numpy==1.20.3
opencv-contrib-python==4.5.2.52
ortools==9.0.9048
paho-mqtt==1.5.1
parso==0.8.2
Pillow==6.2.2
prompt-toolkit==3.0.20
protobuf==3.9.2
ptpython==3.0.19
Pygments==2.10.0
pymongo==3.11.4
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
razdel==0.5.0
requests==2.10.0
scikit-video==1.1.11
slovnet==0.5.0
sortedcontainers==2.4.0
tmuxp==1.9.2
Twisted==21.7.0
txaio==21.2.1
ujson==4.1.0
wcwidth==0.2.5
Werkzeug==1.0.1
yargy==0.15.0
zope.interface==5.4.0
